.vscode/
weights/dpt_hybrid/
GS1GEO/south-korea-latest.osm.pbf
train_bd/test/
train_bd/train/
train_bd/val/
weights/bd_trained/YOLOv10_trained.tar.gz
weights/bd_pretrained/yolo11x.pt
test_dpt/dataset/
test_dpt/weights/
weights/bd_trained/train_x
bd_output
