weights/dpt_hybrid/dpt_monodepth.pt filter=lfs diff=lfs merge=lfs -text
weights/dpt_hybrid/dpt_segmentation.pt filter=lfs diff=lfs merge=lfs -text
weights/dpt_hybrid/dpt_kitti.pt filter=lfs diff=lfs merge=lfs -text
weights/dpt_hybrid/dpt_nyu.pt filter=lfs diff=lfs merge=lfs -text