.vscode/
weights/dpt_hybrid/
GS1GEO/south-korea-latest.osm.pbf
train_bd/test/
train_bd/train/
train_bd/val/
runs/detect/YOLOv10_trained.tar.gz
weights/bd/yolo11x.pt
test_dpt/dataset/
test_dpt/weights/
runs/detect/train_x
